<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Analysis Module</title>
</head>
<body>
    <h1>Analyse habit data</h1>
    <div>This habit you did most often: {{ variable_most_habit }}</div>
    <br> 
    <div>These are the habits you recorded:</div>
    <ul>
        {% for habit in habits %}
            <li>{{ habit }}</li>
        {% endfor %}
    </ul>
    <br> 
    <div>These are the weekly habits you recorded:</div>
    <ul>
        {% for habit in weekly_habits %}
            <li>{{ habit[0] }}</li>
        {% endfor %}
    </ul>
    <div>These are the daily habits you recorded:</div>        
    <ul>
        {% for habit in daily_habits %}
            <li>{{ habit[0] }}</li>
        {% endfor %}
    </ul>
    <br>         
    <div>Your longest streak was of the habit: {{ longest_streak_habit }} which you recorded for {{ longest_streak_streak }} units.</div>
</body>
</html>