<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyzing Single Habit</title>
</head>
<body>
    <h1>Analyzing single habit</h1>
    <textarea readonly name="analyzing single habit intro" rows="4" cols="60">
Welcome to the single habit analysis module. Here you can gather some insights about single habits that you recorded. 
    </textarea>
<div> This is the habit you are analyzing: {{ habit }}</div> 
<br>
<div> Your longest streak for this habit was {{ streak }} units long and was from: {{ start_streak }} - {{ end_streak }} </div>
<br>
<div> You recorded this habit on the following dates:</div>
<ul>
    {% for dates in habits %}
    <li>{{ dates }}</li>
    {% endfor %}
</ul>
</body>
</html>