<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Analysis Module</title>
</head>
<body>
    <h1>Analyse habit data</h1>
    <div>This habit you did most often: {{ variable_most_habit }}</div>
    <div>These are the habits you recorded: {{ habits }}</div>
    <div>These are the weekly habits you recorded: {{ weekly_habits }}</div>
    <div>These are the daily habits you recorded: {{ daily_habits }}</div>
    <div>Your longest streak was of the habit: {{ longest_streak_habit }} which you recorded for {{ longest_streak_streak }} units.</div>
</body>
</html>