<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Increment Habit</title>
</head>

<body>
    <h1>Increment habit</h1>
    <textarea readonly name="Increment explainer" rows="5" cols="60">
Here you can record instances of doing your habits, either for the current date or any previous and even future date.
Please do stick to the YYYY-MM-DD format.  
        </textarea>
    <form action="/submit-dropdown" method="post">
        <select name="dropdown">
            {% for option in options %}
            <option value="{{ option | safe }}">{{ option }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Record activity for today</button>
    </form>
    <form action="/record-alternative-date" method="post">
        <select name="dropdown">
            {% for option in options %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        <form method="post">
            <input type="text" name="date" placeholder="date" required>
        <button type="submit">Record activity for prior date</button>
</body>
</html>