<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
</head>
<body>
    <h1>Habit Tracker</h1>
    <ul>
        {% for habit in habits %}
        <li>{{ habit.name }} - {{ habit.date }} - Streak: {{ habit.streak }}</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('add')}}">Add a habit</a>
    <a href="{{ url_for('increment')}}">Increment a habit</a>
    <a href="{{ url_for('analysis')}}" >Open analysis module</a>
    <a href="{{ url_for('delete')}}" >delete something</a>
</body>
</html>